@import "./../../sass/resources.scss";

.home-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("./../../images/sky.jpeg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .search-button {
        position: relative;
        width: 20vw;
        top: 15vh;
        margin: 0 auto;
        background: $buttonBG;
        color: #fff;
        font-size: 1.5rem;
        border: 1px solid #fff;
        padding: 8px 24px;
        border-radius: 10px;
        box-shadow: $shadow;
        text-shadow: $textShadow;

        &:active {
            background: #85559d;
        }
        @include mid {
            max-width: 175px;
        }
    }
    #define {
        @include fontBasic;
        position: absolute;
        width: 94vw;
        bottom: 6.5vh;
        left: 0;
        padding: 0 3vh;

        span {
            font-style: italic;
        }
    }
}
