@import "./../../sass/resources.scss";

.home-container {
    background-image: url("./../../images/sky.jpeg");
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .search-button {
        position: relative;
        width: 20vw;
        top: 15vh;
        margin: 0 auto;
        background: $buttonBG;
        color: #fff;
        font-size: 1.5rem;
        border: 1px solid #fff;
        padding: 8px 24px; 
        border-radius: 10px;
        box-shadow: $shadow;
        text-shadow: $textShadow;

        &:active {
            @include activeButton;
        }
        @include mid {
            max-width: 175px;
        }
    }
    #define {
        @include fontBasic;
        text-align:center;
        position: fixed;
        margin: 10px auto;
        width: 100vw;
        bottom: 0;
        left: 0;

        @include mid{
            bottom: 2vh;
            font-size:1.35rem;
        }
        span {
            font-style: italic;
        }
    }
}
