$tablet-width: 768px;
$desktop-width: 1000px;
$large-desktop-width: 1000px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }

@mixin bigscreen {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin mid {
    @media (min-width: #{$tablet-width}) {
      @content;
    }
  }