$buttonBG:linear-gradient(#7398af, #5b8aa1, #3f738b);
$buttonBGActive:linear-gradient(  #3f738b,#7398af,#5b8aa1);

$radiusMain: 8x;

// SHADOWS

$textShadow: rgb(31, 30, 30) 2px 2px 6px;
$shadow: rgb(17, 17, 17) 2px 2px 3px;
$shadowActive: rgb(17, 17, 17) 0px 0 2px;
$shadow-two: 0 6px 2px -3px rgb(58, 58, 58);
$shadow-three: rgb(58, 58, 58)2px 2px 6px; 