@import './../../sass/resources.scss';

.time-container{
    @include resultContainer;
    margin-top:8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    @include mid{
        margin-top:5px;
    }
    h2{
        margin: 12px 0;
        font-size:1.4rem;
        @include mid{
            margin:15px;
            font-size: 1.5rem;
        }
    }
}
