@import './../../sass/resources.scss';


.search-form {
    display: flex;
    align-items: center;
    flex-direction: column;

    input {
        width: 30vw;
        position: relative;
        max-width: 400px;
        background: transparent;
        color: #fff;
        padding-left: 10px;
        height: 2.5rem;
        border-width: 0 0 1px 0px;
        width: 60vw;
        font-size: 2rem;
        box-shadow: $shadow-two;
        text-align: center;
        text-shadow: $textShadow;
        &::placeholder {
            color: white;
            opacity:.55;
            font-size:75%;
            text-shadow: $textShadow;
        }
        &:focus {
            outline: none;
        }
    }

}
