@import "./../../sass/resources.scss";

.card {
  position: fixed;
  height: 100vh;
  width: 80vw;
  overflow: hidden;

  &Side {
    @include fontBasic;
    height: 80vh;
    width: 80vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    padding-top: 37px;
    
    background-size: cover;
    @include mid{
      padding-top: 0px;
    }
    .map-container {
      display: flex;
      justify-content: center;
      .actual-map {
        width: 80vw;
        height:250px;
        box-shadow: $shadow-three;
        @include mid {
          width: 45vw;
          max-width: 600px;
          height: 33vh;
        }
      }
    }

    &Front {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &Back {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .title-coords {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
  }
  .coords {
    font-style: italic;
    font-size: 1rem;
  }
}
