.card {
    position: relative;
    height: 50ch;
  
    &Side {
      height: 50ch;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      background-size: cover;
  
      &Front {
        background-color: gray;
      }
  
      &Back {
        background: linear-gradient(rebeccapurple, skyblue);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }