@import "./../../sass/resources.scss";

.card {
  position: fixed;
  height: 80vh;
  width: 80vw;
  overflow:hidden;

  &Side {
    height: 80vh;
    width: 80vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    padding-top: 30px;
    @include fontBasic;

    background-size: cover;
    .map-container {
      display: flex;
      justify-content: center;
      .actual-map {
        width: 80vw;
        box-shadow: $shadow-three;
        @include mid {
          width: 33vw;
          height: 33vh;
        }
      }
    }

    &Front {
      background-color: transparent;
      display: flex;

      align-items: center;
      justify-content: flex-start;
    }

    &Back {
      background: transparent;
      display: flex;

      align-items: center;
      justify-content: flex-start;
    }
  }

  .title-coords {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .coords {
    font-style: italic;
    font-size: 1rem;
  }
}
